* RESET STYLES */ *,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

* {
  font-family: "Roboto", serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* STYLES */

.App {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header {
  margin-bottom: 12px;
}
.header-title {
  font-size: 2.4rem;
  margin-bottom: 6px;
}

.header-text {
  font-size: 1.2rem;
}

.selectors {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  gap: 2px;
}

.selectors h3 {
  font-size: 1.4rem;
  width: 100%;
}
.cat-button {
  background-color: #cca46d;
  border-color: #c57b13;
}

.cat-button-selected {
  background-color: #85ffa9;
  border-color: #00ff00;
}

.clear-cats {
  width: 100%;
  background-color: #ffc1c1;
  border-color: #faa;
}

.tender-card {
  background-color: #d0ffff;
  padding: 4px;
  margin-bottom: 24px;
}

.tender-card-title {
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.tender-card-buyer {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.tender-card-date {
  font-size: 1.0rem;
  margin-bottom: 4px;
}

.tender-card-description-title {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.tender-card-description {
  font-size: 1rem;
  margin-bottom: 4px;
  height: 200px;
  text-overflow: ellipsis;
  overflow: scroll;
}

.Collapsible__trigger {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 4px;
  background: #73a8a444;
  display: block;
  width: 100%;

}

.Collapsible__contentInner {
  padding: 0 1rem;
  background-color: #00a79607;
}

.is-closed::after {
  content: " ➕";
}

.is-open::after {
  content: " ✖️";
}

.click-to-expand {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.card-instructions {
  font-size: 0.8rem;
  margin-bottom: 4px;
}